---
import { Image } from 'astro:assets'
import Icon from '$components/Icon.astro'
import bg01 from '$assets/images/bg-01.webp'
---

<section class="reveal relative min-h-screen bg-black pb-12 pt-20 text-white">
	<Image class="absolute left-0 top-0 size-full object-cover opacity-30 reveal:opacity-0" src={bg01} width={1920} quality={90} densities={[2]} alt="" />
	<div class="container relative">
		<p class="mb-3 text-center text-xs">Recorriendo nuevos horizontes<br />Un proyecto de</p>
		<Icon class="mx-auto mb-12 w-16" name="nissan" />
		<div class="mx-auto max-w-3xl">
			<h1 class="max-w-xl -rotate-6 font-rubanok text-6xl reveal:-translate-x-24 reveal:opacity-0 md:text-7xl">Planes para un septiembre sin límites</h1>
			<div class="ml-auto mt-6 max-w-md -rotate-6 reveal:translate-x-24 reveal:opacity-0 lg:-mt-20">
				<p class="font-playzone text-2xl">Septiembre marca el final del verano, pero eso no significa que las aventuras deban terminar. Las ciudades de España nos invitan a vivir experiencias que desafían los límites y el <a class="underline" target="_blank" href="https://www.nissan.es/vehiculos/nuevos-vehiculos/qashqai.html">Nuevo Nissan Qashqai</a> es el compañero perfecto para disfrutar de ellos.</p>
				<Icon class="mx-auto mt-12 w-12" name="arrow-1" />
			</div>
		</div>
	</div>
</section>
