---
import Icon from '$components/Icon.astro'
---

<section class="bg-gradient-to-b from-[#B3F0FD] to-white py-12">
	<div class="reveal container text-center">
		<p class="mx-auto mb-24 max-w-lg font-playzone text-3xl reveal:translate-y-24 reveal:opacity-0">Con un diseño audaz, una motorización híbrida innovadora y la confianza de una garantía de 10 años, el <a class="underline decoration-2" target="_blank" rel="sponsored" href="https://www.nissan.es/vehiculos/nuevos-vehiculos/qashqai.html">Nuevo Nissan Qashqai</a> está listo para acompañarte en cada uno de tus viajes, sin importar a dónde te lleven.</p>
		<p class="reveal:translate-y-24 reveal:opacity-0 revealed:delay-100">ElTiempo Content para</p>
		<Icon class="mx-auto mt-6 w-24 reveal:translate-y-24 reveal:opacity-0 revealed:delay-200" name="nissan" />
	</div>
</section>
