---
import videoNissan from '$assets/videos/nissan.mp4'
---

<section class="bg-black">
	<video class="animate-parallax-scale w-full" src={videoNissan} autoplay loop muted playsinline></video>
</section>
