---
import { Image } from 'astro:assets'
import Icon from '$components/Icon.astro'
import img06 from '$assets/images/img-06.webp'
import img07 from '$assets/images/img-07.webp'
import img08 from '$assets/images/img-08.webp'
---

<section class="bg-gradient-to-b from-[#F4C9BD] to-[#FDF5C1] py-24">
	<div class="container grid gap-12 lg:grid-cols-2 xl:gap-24">
		<div>
			<Image class="animate-parallax-b mb-6 w-64" src={img06} width={384} quality={90} densities={[2]} alt="" />
			<Image class="animate-parallax-t mb-12 ml-auto w-96 mix-blend-multiply xl:mb-24" src={img07} width={576} quality={90} densities={[2]} alt="" />
			<div class="relative">
				<Icon class="text-[#B4F8B6] mix-blend-multiply" name="fig-3" />
				<div class="container-inline-size absolute inset-0">
					<div class="absolute inset-x-[12cqw] bottom-[27cqw] top-[8cqw] flex items-center font-rubanok text-[5cqw] leading-snug">
						<p>Prepara todo lo que necesitas y planifica tu viaje con la máxima comodidad, confianza y seguridad con el <a class="underline decoration-2" target="_blank" href="https://www.nissan.es/vehiculos/nuevos-vehiculos/qashqai.html">Nuevo Nissan Qashqai</a>, gracias a los 10 años de garantía para ir donde quieras.</p>
					</div>
				</div>
			</div>
		</div>
		<div>
			<h2 class="relative mb-6 font-rubanok text-5xl">
				<Icon class="absolute left-0 top-0 -ml-8 w-4/5 text-[#F2ACBF]" name="fig-4" />
				<span class="relative block -rotate-6">Granada Sound: tu aventura más mágica para recargar pilas</span>
			</h2>
			<div class="mb-6 ml-auto mt-12 grid max-w-[26rem] gap-6">
				<p>Si no has encontrado todavía tu festival de referencia, tienes una nueva oportunidad en septiembre de sumarte al “Granada Sound”, un encuentro al son de la música de Arde Bogotá, Crystal Fighters o Carlos Sadness, entre otros, alrededor de miradores infinitos que te invitan a soñar.</p>
				<p>Podrás empezar a vivir la experiencia desde que te subas a tu Nuevo Nissan Qashqai. Coloca todo tu equipaje en su <strong>amplio maletero de 504 litros, conecta Google Maps y pon tus grupos favoritos</strong> para disfrutar de cada uno de los kilómetros que te separan de tu destino con la suave iluminación interior del Nuevo Nissan Qashqai.</p>
				<Icon class="relative z-10 mx-auto w-24" name="arrow-4" />
			</div>
			<Image class="animate-parallax-b" src={img08} width={744} quality={90} densities={[2]} alt="" />
		</div>
	</div>
</section>
